<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PROVEEDOR" value ="System.Data.SqlClient"/>
    <add key="CADENA" value="Data Source=yahina-pc;Initial Catalog=RecursosHumanos;Integrated Security=SSPI;"/>
    <!--<add key="PROVEEDOR" value ="MySql.Data.MySqlClient"/>
    <add key="CADENA" value="server=localhost;User Id=root;database=RecursosHumanos"/>-->
  </appSettings>
</configuration>